form{
    text-align: center;
    height: 40px;
}
input{
    background-color: #ebebeb;
    outline: none;
    padding: 10px;
 border: 2px solid #5d0cff;
 height: 100%;
 color: #fff;
}
input[type=text]{
    width: 70%;
    border: 2px solid #5d0cff;
    background-color: transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

input[type=submit]{
    width: 30%;
    background: linear-gradient(
        90deg,
        rgba(93, 12, 255, 1) 0%,
        rgba(155, 0, 250, 1) 100%
      );
    border: none;
    color:#fff;
   cursor: pointer; 
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}

